body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1127px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u2617 {
  position:absolute;
  left:399px;
  top:0px;
  width:375px;
  height:813px;
}
#u2618 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:734px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2621 {
  position:absolute;
  left:399px;
  top:79px;
  width:375px;
  height:734px;
}
#u2622 {
  position:absolute;
  left:2px;
  top:359px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  position:absolute;
  left:407px;
  top:304px;
  width:360px;
  height:501px;
}
#u2624 {
  position:absolute;
  left:2px;
  top:242px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2625 {
  position:absolute;
  left:419px;
  top:322px;
  width:100px;
  height:100px;
}
#u2626 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_ann {
  position:absolute;
  left:512px;
  top:318px;
  width:1px;
  height:1px;
}
#u2627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2627 {
  position:absolute;
  left:419px;
  top:432px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2628 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2629 {
  position:absolute;
  left:419px;
  top:464px;
  width:334px;
  height:32px;
}
#u2629_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2629.selected {
}
#u2630 {
  position:absolute;
  left:2px;
  top:8px;
  width:330px;
  word-wrap:break-word;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2631 {
  position:absolute;
  left:419px;
  top:502px;
  width:163px;
  height:32px;
}
#u2631_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2631.selected {
}
#u2632 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u2633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2633 {
  position:absolute;
  left:598px;
  top:502px;
  width:155px;
  height:32px;
}
#u2633_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2633.selected {
}
#u2634 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u2635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  position:absolute;
  left:419px;
  top:539px;
  width:163px;
  height:32px;
}
#u2635_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635.selected {
}
#u2636 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u2637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#66CCFF;
}
#u2637 {
  position:absolute;
  left:529px;
  top:322px;
  width:139px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#66CCFF;
}
#u2638 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2637_ann {
  position:absolute;
  left:661px;
  top:318px;
  width:1px;
  height:1px;
}
#u2639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2639 {
  position:absolute;
  left:431px;
  top:754px;
  width:300px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2640 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
  text-align:center;
}
#u2641 {
  position:absolute;
  left:730px;
  top:307px;
  width:34px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
  text-align:center;
}
#u2642 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u2643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2643 {
  position:absolute;
  left:419px;
  top:603px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2644 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2645 {
  position:absolute;
  left:642px;
  top:597px;
  width:116px;
  height:39px;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u2646 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
  font-size:20px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:5px;
  width:33px;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u2648 {
  position:absolute;
  left:37px;
  top:0px;
  width:37px;
  height:34px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:9px;
  width:33px;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u2650 {
  position:absolute;
  left:74px;
  top:0px;
  width:37px;
  height:34px;
  font-size:20px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:5px;
  width:33px;
  word-wrap:break-word;
}
#u2652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2652 {
  position:absolute;
  left:534px;
  top:366px;
  width:67px;
  height:16px;
}
#u2653 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:239px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u2654 {
  position:absolute;
  left:870px;
  top:332px;
  width:257px;
  height:239px;
  color:#FFFFFF;
}
#u2655 {
  position:absolute;
  left:10px;
  top:10px;
  width:237px;
  word-wrap:break-word;
}
